html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
dl, dt, dd, ol, ul, li,hr,img,a,
form, label, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header{
  margin: 0;
  padding: 0;
}

body{
  background-color: #fcfdfe;
}

ul {
  list-style: none;
}

.icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
  font-size: 1.6em;
}

a {
  text-decoration:none;
  color: black;
}

.mint-indicator-wrapper {
  z-index: 100 !important;
  top: -100px;
}
